
# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
.DS_Store
.next/
.vercel/
public/assets/

# Environment files
.env
.env.*

# Editor directories and files
.vscode/
*.swp

# Local screenshots
screenshots/
